{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- Google Fonts - Rubik -->
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'headtripbot/css/login.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'headtripbot/images/logo.png' %}" alt="logo" class="logo">
        {% if error %}<p class="error">{{ error }}</p>{% endif %}
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Benutzername" required>
            <input type="password" name="password" placeholder="Passwort" required>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
